.loginContainer {
  width: 100%;
  min-height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF9F9 !important;
  overflow: hidden !important;
}


